.auth-input-error {
    border-bottom: 3px solid #fe2d5b !important;
}
.auth-alert {
    margin: 12px;
    padding-left: 40px;
}
.auth-alert.alert-danger {
    color: #a94442;
}

@media(max-width: 768px) {
    .auth-input-error {
        border-bottom-width: 2px !important;
    }
}


